
form(method='POST')
  h2 User
    - if (typeof(err) != 'undefined')
      .error= err
  fieldset
    .fields
      label email address
      input.input.email(name='email',placeholder='(e.g. yourname@domain.com)')
    .fields
      label password
      input.input.password(name='password',placeholder='(e.g. red123)')
    .fields
      label role
      select.input(name='role')
        option(value='admin') admin
  .buttons
    input.submit(type='submit',value='Save')
    input.cancel(type='button',value='Delete')