
form(method='POST')
  h2 Vendor
    - if (typeof(err) != 'undefined')
      .error= err
  fieldset
    .fields
      label name
      input.input.name(name='name',placeholder='(e.g. Jodesco)',value=vendor.name?vendor.name:'')
    .fields
      label address
      input.input.address(name='address',placeholder='(e.g. 123 Fake St)',value=vendor.address?vendor.address:'')
    .fields
      - if (typeof(vendor.coordinates)=='object' && vendor.coordinates.length && vendor.coordinates.length == 3)
        img.google-map(src='//maps.googleapis.com/maps/api/staticmap?center='+vendor.coordinates[0]+','+vendor.coordinates[1]+'&markers=color:red%7Clabel:V%7C'+vendor.coordinates[0]+','+vendor.coordinates[1]+'&zoom=13&size=256x100&sensor=false')
      - else
        div.google-map
  .buttons
    input.submit(type='submit',value='Save')
    input.cancel(type='button',value='Delete')