fieldset
  .fields
    label email address
    input(placeholder='(e.g. yourname@domain.com)')
  .fields
    label password
    input(type='password',placeholder='(at least 6 characters, at least 1 uppercase)'')
  .submit
    input(type='submit',value='Login')