form
  fieldset
    h2 Login
    .fields
      label email address
      input.input.email(placeholder='(e.g. yourname@domain.com)')
    .fields
      label password
      input.input.password(type='password',placeholder='(at least 6 characters, at least 1 uppercase)'')
    .submit
      input(type='submit',value='Login')