ul.row(id=deal._id)
  li Buy
  li
    input.input.buy_qty(value=deal.buy_qty,placeholder='10')
  li
    input.input.buy_item(value=deal.buy_item,placeholder='lunches')
  li Get
  li
    input.input.get_item(value=deal.get_item,placeholder='a FREE lunch!')
  li.buttons
    a.archive(href='#') archive
    |  &nbsp; or &nbsp; 
    a.print(href='#') print