.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          a(href="/features") features
        li
          | about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Why we're here
.body
  .container
    .window
      h2 So Everyone Wins
      .text-clump
        .col
          b Jodesco
          p 
            | We are a small group of 
            b  technology enthusiasts 
            |  passionate about bridging the gap between the physical and digital worlds.
        .col
          b New world
          p 
            | Today more than ever, the Internet and mobile technology present new challenges and 
            b  amazing new opportunities 
            | for small businesses, big businesses, and consumers alike.
        .col.last
          b Solutions
          p 
            | We believe the best way to solve these problems is with simple, easy to use solutions that drive benefits to all sides of the equation, giving
            b  both consumers and businesses the power to get what they want.
    .window
      h2 The Team
      img.wide(src='/images/company_l.jpg')
      .text-clump
        .col
          b Johnny Grenz
          p 
            span art
            br
            a(href='mailto:johnny@kickbackcard.com') johnny@kickbackcard.com
            br
            a.vert-center(href='http://twitter.com/#!/john_knee') 
              img(src='/images/twitter_inline.png')
              | @john_knee
        .col
          b Derek Bredensteiner
          p
            span tech
            br
            a(href='mailto:derek@kickbackcard.com') derek@kickbackcard.com
            br
            a.vert-center(href='https://plus.google.com/100278450741153543517/about') 
              img(src='/images/google_plus_inline.png')
              | +Derek Bredensteiner
        .col
          b Scott Cain
          p 
            span biz
            br
            a(href='mailto:scott@kickbackcard.com') scott@kickbackcard.com
            br
            a.vert-center(href='http://twitter.com/#!/wscain') 
              img(src='/images/twitter_inline.png')
              | @wscain
        .col.last
          b Steven Banas
          p 
            span ux
            br
            a(href='mailto:steven@kickbackcard.com') steven@kickbackcard.com
            br
            a.vert-center(href='http://twitter.com/#!/scigrex14') 
              img(src='/images/twitter_inline.png')
              | @scigrex14