.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          a(href="/features") features
        li
          | about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Why we're here
.body
  .container
    .window
      h2 So Everyone Wins
      .text-clump
        .col
          b Jodesco
          p 
            | We are a small group of 
            b  technology enthusiasts 
            |  passionate about making real world answers for the changes we're all facing in the modern post internet economy.
        .col
          b New world
          p 
            | Today more than ever, the Internet and mobile technology presents new challenges and 
            b  amazing new opportunities 
            | for small businesses, big businesses, and consumers alike.
        .col.last
          b Solutions
          p 
            | We believe the best way to solve these problems is with simple, easy to use solutions that drive benefits to all sides of the equation, giving
            b  both consumers and businesses the power to get what they want.
    .window
      h2 Executive Team
      .text-clump
        .col
          b Scott Cain
          p CFO & Co-Founder
        .col
          b Johnny Grenz
          p CMO & Co-Founder
        .col.last
          b Derek Bredensteiner
          p CTO & Co-Founder