.header
  .navigation
    .container
      ul
        li
          | dashboard
        li
          a(href="/settings") settings
        li
          a(href="/logout") logout
  .container
    .logo
.headline
  .container
    h1
      span.vendor-title
      |  - Analytics Dashboard
.body
  .container
    h2.deal-title
    .window.left
      h2.date-title
      .text-clump
        .deal-chart
        .nav-center.date-title
        .nav-left
          a.prev-date(href='#')
        .nav-right
          a.next-date(href='#')
    .window.right
      h2 Latest
      .text-clump.latest
    .window.left
      h2 Totals
      .text-clump
        .col.current
          h3.date-title
          .data-view.kicks
            .label kicks
            .value 
          .data-view.redeems
            .label redeems
            .value 
          .data-view.shares
            .label shares
            .value 
        .col.last.all
          h3 All Time
          .data-view.kicks
            .label kicks
            .value 
          .data-view.redeems
            .label redeems
            .value 
          .data-view.shares
            .label shares
            .value 
    .clear