.header
  .navigation
    .container
      ul
        li
          | dashboard
        li
          a(href="/logout") logout
  .container
    .logo
.headline
  .container
    h1
      span.vendor-title
      |  - Analytics Dashboard
.body
  .container
    .window
      h2.deal-title
      .text-clump
        h2 Totals
        p Hi
    .window
      h2.deal-title
      .text-clump
        h2 Recent Activity
        p Hi