.header
  .navigation
    .container
      ul
        li
          | dashboard
        li
          a(href="/logout") logout
  .container
    .logo
.headline
  .container
    h1
      span.vendor-title
      |  - Analytics Dashboard
.body
  .container
    h2.deal-title
    .window.left
      h2 September 2011
      .text-clump
        .deal-chart
        .nav-left
          a(href='#') < August
        .nav-right
          a(href='#') October >
    .window.right
      h2 Latest
      .text-clump
        .item
          .description Kick
          .date October 5, 2011 - 12:02pm
    .window.left
      h2 Totals
      .text-clump
        .col.current
          h3 September 2011
          .data-view.kicks
            .label kicks
            .value 
          .data-view.redeems
            .label redeems
            .value 
          .data-view.shares
            .label shares
            .value 
        .col.last.all
          h3 All Time
          .data-view.kicks
            .label kicks
            .value 
          .data-view.redeems
            .label redeems
            .value 
          .data-view.shares
            .label shares
            .value 
    .clear