.header
  .navigation
    .container
      ul
        li
          | dashboard
        li
          a(href="/logout") logout
  .container
    .logo
.headline
  .container
    h1 How we Doing?
.body
  .container
    .window
      h2 Dashboard
      .text-clump
        p Hi