.header
  .navigation
    .container
      ul
        li
          | dashboard
        li
          a(href="/logout") logout
  .container
    .logo
.headline
  .container
    h1
      span.vendor-title
      |  - Analytics Dashboard
.body
  .container
    h2.deal-title
    .window.left
      h2 September 2011
      .text-clump
        .deal-chart
        .nav-left
          a(href='#') < August
        .nav-right
          a(href='#') October >
    .window.right
      h2 Latest
      .text-clump
        .item
          .description Kick
          .date October 5, 2011 - 12:02pm
        .item
          .description Redemption
          .date October 5, 2011 - 12:01pm
        .item
          .description Kick
          .date October 5, 2011 - 12:02pm
        .item
          .description Redemption
          .date October 5, 2011 - 12:01pm
        .item
          .description Kick
          .date October 5, 2011 - 12:02pm
        .item
          .description Redemption
          .date October 5, 2011 - 12:01pm
        .item
          .description Kick
          .date October 5, 2011 - 12:02pm
        .item
          .description Redemption
          .date October 5, 2011 - 12:01pm
    .window.left
      h2 Totals
      .text-clump
        h3 September 2011
        p 
          b kicks 0
          br
          b redeems 0
        h3 All Time
        p 
          b kicks 0
          br
          b redeems 0
    .clear