.header
  .navigation
    .container
      ul
        li
          a(href="/") home
  .container
    .logo
.headline
  .container
    h1 Whoops
.body
  .container
    h2 Our Apologies
    .window
      h2 Something went wrong
      .text-clump
        p We've been notified, please try that same thing again later.