.header
  .container
    .logo
    ul.navigation
      li
        a.login(href="/faq") questions?
      li
        a.login(href="/login") vendor login
.body
  .container
    h1 Why am I Here?
    p &nbsp;
    .window
      .faq
        .set
          .line
            h3 Q
            p What is this?
          .line
            h3 A
            p 
              | KickbackCard is a 
              b  loyalty program,
              |  coming first to the iPhone 3G/3GS/4 and iPod Touch 4. It's used to track purchases at local restaurants and 
              b  earn rewards 
              |  like free food and meals.
        .set
          .line
            h3 Q
            p My restaurant already has paper punch cards, what's this for?
          .line
            h3 A
            p 
              | KickbackCard can stand on it's own or it could
              b  expand your existing program
              | . 
            p 
              | We ask for a business name and a special offer, and for you to hit 
              b  print
              | . 
            p 
              | Instantly that business is listed inside every KickbackCard App installed.
        .set
          .line
            h3 Q
            p I print it and ... ?
          .line
            h3 A
            p
              | Customers will ask for that 
              b  printed kicker
              |  at the point of sale so they can 
              b  scan 
              | the unique code to track their 
              b  purchases
              |  and 
              b  rewards
              | .
        .set
          .line
            h3 Q
            p That's it?
          .line
            h3 A
            p
              b That's it.
            p
              | And customers will promote and share your deal online with their friends on social networks.
            p
              | And new customers will find you because you're an internet savvy businesses listed on the map in the KickbackCard App.
            p
              | And you can watch all of this in your reports at kickbackcard.com.
        .set
          .line
            h3 Q
            p Tell me more about the sharing?
          .line
            h3 A
            p 
              | Every time a purchase or redemption is tracked in the KickbackCard app using that
              b  printed kicker
              | , this appears:
            p 
              img(src='/images/facebook-share.jpg')
            p
              |  Hitting that 
              b  big share button 
              |  makes this happen:
            p
              img(src='/images/facebook-share-2.jpg') 
            p
              | Allowing one to share their good fortune and consumer savvy with their friends on facebook. 
            p
              | Customers win. Businesses win. 
              b Everyone wins.