.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          a(href="/features") features
        li
          a(href="/about") about
        li
          | faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Why am I here?
.body
  .container
    .faq
      .window
        .set
          .line.q
            h3 Q
            p What is this?
          .line.a
            h3 A
            p 
              | KickbackCard is a 
              b  loyalty program,
              |  coming very soon to the iPhone 3G/3GS/4 and iPod Touch 4. &nbsp;It's used to track purchases at local restaurants and 
              b  earn rewards 
              |  like free food and meals.
      .window
        .set
          .line.q
            h3 Q
            p My restaurant/business has paper loyalty cards already, why would I want this?
          .line.a
            h3 A
            p 
              | KickbackCard can stand on it's own or it could
              b  expand your existing program
              | . 
            p 
              | We ask you for your business's name, and for the deal you want to offer. &nbsp;Then we ask you to 
              b  print a sheet of paper
              |  like this one:
            img.sample(src='/images/sample-kicker.jpg', title="Yours won't have big grey text that says sample on it")
            p 
              | We call this piece of paper a
              b  kicker.
            p Instantly after registering, your business is listed inside of the 
              b  KickbackCard App 
              |  and you're good to go.
      .window
        .set
          .line.q
            h3 Q
            p I print that and ... ?
          .line.a
            h3 A
            p
              | And then customers will ask for that 
              b  printed kicker
              |  at your point of sale.
            p 
              | They will ask to
              b  scan 
              |  it's unique code to track their 
              b  purchases
              |  and 
              b  rewards
              |  using the KickbackCard App.
            img(src='/images/step1-scan.png', title="This phone is scanning that yellow QR code. In real life a scan takes < 1 second.")
      .window
        .set 
          .line.q
            h3 Q
            p That's it?
          .line.a
            h3 A
            p
              b That's it.
            p
              | And customers will promote and share your deal online with their friends on social networks.
            p
              | And new customers will find you from the map inside the KickbackCard App.
            p
              | And you can watch all of this happen in your analytics dashboard at kickbackcard.com.
      .window
        .set
          .line.q
            h3 Q
            p Tell me more about the sharing.
          .line.a
            h3 A
            p 
              | Every time a purchase or redemption is tracked in the KickbackCard app using that
              b  printed kicker
              |  a big facebook share button shows up and gives this option:
            img(src='/images/facebook-share-2.jpg',title="It's a better reason for getting a trophy than watering your virtual garden.") 
            p
              | Allowing anyone to 
              b  share their good fortune
              |  and their smart shopper savvy with friends on facebook.
            p
              | Customers win. &nbsp;Businesses win.
              b  &nbsp;Everyone wins.
      .window
        .set
          .line.q
            h3 Q
            p And how much will this cost me?
          .line.a
            h3 A
            p
              | Nothing. Nada. Zip. 
              b  FREE
              | . 
            p
              | Eveything you need is that 
              b  kicker
              |  you already printed.
              b  &nbsp;Seriously.