.header
  .container
    .logo
    ul.navigation
      li
        a.login(href="/") home
      li
        | questions
      li
        a.login(href="/login") vendor login
.body
  .container
    h1 Why am I Here?
    p &nbsp;
    .window
      .faq
        .set
          .line
            h3 Q
            p What is this?
          .line
            h3 A
            p 
              | KickbackCard is a 
              b  loyalty program,
              |  coming very soon to the iPhone 3G/3GS/4 and iPod Touch 4. &nbsp;It's used to track purchases at local restaurants and 
              b  earn rewards 
              |  like free food and meals.
        .set
          .line
            h3 Q
            p My restaurant has paper punch cards already, what's this for?
          .line
            h3 A
            p 
              | KickbackCard can stand on it's own or it could
              b  expand your existing program
              | . 
            p 
              | We ask you for a business name and a deal. &nbsp;And we ask you to 
              b  print a sheet of paper
              |  like this one:
            p
              img.sample(src='/images/sample-kicker.jpg', title="Yours won't have big grey text that says sample on it")
            p 
              | Instantly your business is listed inside every KickbackCard App installed.
        .set
          .line
            h3 Q
            p I print that and ... ?
          .line
            h3 A
            p
              | Customers will ask for that 
              b  printed kicker
              |  at your point of sale. They will ask to
              b  scan 
              |  it's unique code to track 
              b  purchases
              |  and 
              b  rewards
              |  using the KickbackCard App.
        .set
          .line
            h3 Q
            p That's it?
          .line
            h3 A
            p
              b That's it.
            p
              | And customers will promote and share your deal online with their friends on social networks.
            p
              | And new customers will find you from the map inside the KickbackCard App.
            p
              | And you can watch all of this happen in your analytics dashboard at kickbackcard.com.
        .set
          .line
            h3 Q
            p Tell me more about the sharing.
          .line
            h3 A
            p 
              | Every time a purchase or redemption is tracked in the KickbackCard app using that
              b  printed kicker
              | , this appears:
            p 
              img(src='/images/facebook-share.jpg',title="Scott's brave, you could make your offer a little less bold.")
            p
              |  Hitting that 
              b  big share button 
              |  makes this happen:
            p
              img(src='/images/facebook-share-2.jpg',title="It's a better reason for getting a trophy than watering your virtual garden.") 
            p
              | Allowing anyone to share their good fortune and their smart shopper savvy with friends on facebook.
            p
              | Customers win. &nbsp;Businesses win.
              b  &nbsp;Everyone wins.
        .set
          .line
            h3 Q
            p And how much will this cost me?
          .line
            h3 A
            p
              | Nothing. Nada. Zip. Free. 
            p
              | The only thing needed to make the system work is that 
              b  kicker
              |  that you printed.