.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          | features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Tell me more
.body
  .container
    .window
      h2 Facebook Integration
      .text-clump
        .left
          p
            b KickbackCard lets you share kicks and kickbacks, 
            |  both earned and redeemed. Share more kicks, earn new and different "awards" to share on facebook.
          p
            | When facebook is connected to KickbackCard, they become synchronized in case the app is ever deleted or the phone is lost. Cards and kicks
            b  will be recovered when facebook is reconnected.
        .img.right
          img(src='/images/facebook-share.jpg',title="Yes, that is a share button.") 
          .spacer
          img(src='/images/facebook-share-2.jpg',title="Yes, that is a little man kicking, that is standing on that trophy.") 