.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          | features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Tell me more
.body
  .container
    .window
      h3 Coming Soon