.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          | features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Tell me more
.body
  .container
    .window
      h2 Facebook Integration
      .text-clump
        .col
          p
            b KickbackCard lets you share kicks and kickbacks 
            |  with your friends,
            |  both when earned and when redeemed.
          p Share more kicks and earn new "awards" to share on facebook.
        .col
          p
            | When facebook is connected to KickbackCard, it is synchronized in case the app is ever deleted, or in case the phone is lost.
          p
            | Cards and kicks
            b  will be recovered when facebook is reconnected.
        .col.last
          img(src='/images/facebook-kick.png')