.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          | features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Tell me more
.body
  .container
    .window
      h2 QR Codes and Barcodes
      .text-clump
        .col
          p
            | Aside from earning kicks for your purchases at local restaurants, and redeeming those kicks for rewards, Kickback card
            b  also scans any qr code or barcode
            |  with the scanning tab.
          p 
            | Scan to view a contact card, automatically load a website, or get product comparison search results for barcodes with Google Shopping.
        .col-2.last
          img.op-shift.a(src='/images/contactcard.png')
          img.op-shift.b(src='/images/product.png')
          img.op-shift.c(src='/images/product-2.png')
          img.op-shift.d(src='/images/bbc.png')
    .window
      h2 Easy Access
      .text-clump
        .col-2
          img.shift.a(src='/images/yelp.png')
          img.shift.b(src='/images/directions.png')
          img.shift.c(src='/images/open-websites.png')
          img.shift.d(src='/images/phonedialscreen.png')
        .col.last
          p
            | Launch
            b  Yelp reviews
            | , 
            b  get directions
            | , 
            b  open restaurant websites
            | ,
            b  place phone calls
            |  and more all from the comfort of the business listings inside of KickbackCard.
          p All of the information you want at your fingertips, no typing needed.
          p The way it should be.
    .window
      h2 Facebook Integration
      .text-clump
        .col
          p
            b KickbackCard lets you share kicks and kickbacks 
            |  with your friends,
            |  both when earned and when redeemed.
          p Share more kicks and earn new "awards" to share on facebook.
        .col
          p
            | When facebook is connected to KickbackCard, it is synchronized in case the app is ever deleted, or in case the phone is lost.
          p
            | Cards and kicks
            b  will be recovered when facebook is reconnected.
        .col.last
          img(src='/images/facebook-kick.png')