.header
  .container
    .logo
    ul.navigation
      li
        a.login(href="/faq") questions?
      li
        a.login(href="/login") vendor login
.body
  .container
    .content-area
      h1 Everyone Wins
      p &nbsp;
      .step-copy
        ul
          li.scan
            div 1. Scan
          li.earn
            div 2. Earn
          li.burger
            div 3. Get Stuff
        p
          | Get kickbacks for being a loyal customer.
        p
          | Scan QR codes with the KickbackCard iPhone App when you make purchases at particpating vendors to earn rewards like free meals.
        p
          | It’s 
          b FREE.
      p &nbsp;
      p &nbsp;
      .col-left
        img(src='/images/apple app store icon.png')
        br
        | (coming very soon)
        .qr-container
          img(src='/images/app-qr.png')
        .text (app store link)
      .col-right
        img(src='/images/android market icon.png')
        br
        | (coming soon)
    .phone-area
      .screenshot
        .screens
          ul
            li
              img(src='/images/home.jpg')
            li
              img(src='/images/load.jpg')
            li
              img(src='/images/cards.jpg')
            li
              img(src='/images/scan.jpg')
            li
              img(src='/images/facebook.jpg')
            li
              img(src='/images/locations.jpg')
.footer
  .container
    ul
      li
        a(href="mailto:help@kickbackcard.com")
          img(src='/images/email icon.png')
      li
        a(href="http://twitter.com/#!/KickbackCard")
          img(src='/images/twitter icon.png')
      li
        a(href="http://facebook.com/KickbackCard")
          img(src='/images/facebook icon.png')
.assets
  iframe(name='promptPasswordDummy')
  .login
    !=partial('login')