.header
  .navigation
    .container
      ul
        li
          | home
        li
          a(href="/features") features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Everyone Wins
.body
  .container
    .content-area
      .step-copy
        ul
          li.scan
            div 1. Scan
          li.earn
            div 2. Earn
          li.burger
            div 3. Get Stuff
      .separator
      .my-copy
        p 
          b Scan QR codes
          |  with KickbackCard to 
          b  earn kicks 
          |  for your purchases at participating vendors.
        p 
          b Redeem
          |  kicks to get rewards, such as 
          b  free meals
          | .
        p Free app, no sign up, just download and go.
      .separator
      .col-left
        img(src='/images/apple app store icon.png')
        br
        | (coming soon,<br>submitted)
        .qr-container
          img(src='/images/app-qr.png')
        .text (app store link)
      .col-right
        img(src='/images/android market icon.png')
        br
        | (coming soon)
    .phone-area
      .screenshot
        .screens
          ul
            li
              img(src='/images/1_Welcome_Screen.jpg')
            li
              img(src='/images/2_Card_List.jpg')
            li
              img(src='/images/3_Scan_Help_Screen.jpg')
            li
              img(src='/images/4_Redemption.jpg')
            li
              img(src='/images/5_Facebook.jpg')
            li
              img(src='/images/6_Card_Detail.jpg')
            li
              img(src='/images/7_Barcode.jpg')
            li
              img(src='/images/8_Map.jpg')
    .clear