.header
  .container
    .logo
    ul.navigation
      li
        a.login(href="/login") login
.body
  .container
    .content-area
      h1 Help Them Help You
      p &nbsp;
      .step-copy
        ol
          li
            img(src='/images/scan.png')
          li
            img(src='/images/earn.png')
          li
            img(src='/images/get-stuff.png')
        p
          | Get kickbacks for being a loyal customer.
        p
          | Yeah, we integrate with Facebook.  That means you can share your kickbacks with your friends.
        p
          | Did we mention it’s free?
      p &nbsp;
      p &nbsp;
      center
        img(src='/images/app-store.png')
        br
        | (coming soon)
    .phone-area
      .screenshot
        img(src=mapUrl)
.footer
  .container
    | Contact us 
    a(href="http://twitter.com/#!/KickbackCard") twitter.com/#!/KickbackCard
    |  or
    a(href="http://facebook.com/KickbackCard") facebook.com/KickbackCard
.assets
  iframe(name='promptPasswordDummy')
  .login
    !=partial('login')