.header
  .container
    .logo
    ul.navigation
      li
        a.login(href="/login") login
.body
  .container
    .content-area
      h1 Help Them Help You
      p Lorem ipsum dolores exorum set foo bar do re ma fla si ti do. Lorem ipsum dolores exorum set foo bar do re ma fla si ti do. Lorem ipsum dolores exorum set foo bar do re ma fla si ti do. 
      p
        b Coming soon
        br
        img(src='/images/app-store.png')
    .phone-area
      .screenshot
        img(src=mapUrl)
.footer
  .container
    | Contact us 
    a(href="http://twitter.com/#!/KickbackCard") twitter.com/#!/KickbackCard
    |  or
    a(href="http://facebook.com/KickbackCard") facebook.com/KickbackCard
.assets
  iframe(name='promptPasswordDummy')
  .login
    !=partial('login')