.header
  .container
    .logo
    .login
      a(href="#") login
.body
  .container
    .content-area
      h1 Kickback Card
      i Help Them Help You
      p Lorem ipsum dolores exorum set foo bar do re ma fla si ti do. Lorem ipsum dolores exorum set foo bar do re ma fla si ti do. Lorem ipsum dolores exorum set foo bar do re ma fla si ti do. 
    .phone-container
.footer
  .container
    | Contact us 
    a(href="http://twitter.com/#!/KickbackCard") twitter.com/#!/KickbackCard
    |  or
    a(href="http://facebook.com/KickbackCard") facebook.com/KickbackCard