.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          a(href="/features") features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          | login
  .container
    .logo
.headline
  .container
    h1 Login
.body
  .container
    .window
      form(method='POST')
        - if (typeof(err) != 'undefined')
          .error-message= err
        fieldset
          .fields
            label email address
            input.input.email(name='email',placeholder='(e.g. yourname@domain.com)')
          .fields
            label password
            input.input.password(name='password',type='password',placeholder='(at least 6 characters, at least 1 uppercase)')
        .buttons
          input.submit(type='submit',value='Login')