.header
  .navigation
    .container
      ul
        li
          a(href='/dashboard') dashboard
        li
          a(href="/settings") settings
        li
          | print
        li
          a(href="/logout") logout
  .container
    .logo
.headline
  .container
    h1 Printables
.body
  .container
    h2=deal.tag_line
    .window
      h2 Multi-Use Kicker
      .text-clump
        .col
          a(href='/deal/'+deal._id+'/kicker-4x6.pdf')
            img.small(src='/images/kicker-bg-4x6.png')
            span.subtitle.center download and print pdf
    .window
      h2 One-Time-Use Kicker
      .text-clump
        .col
          a(href='/deal/'+deal._id+'/kicks-500.pdf')
            img.small(src='/images/card-bg-4x2.5.png')
            span.subtitle.center download and print pdf for 500
    h2 Other Materials
    .window
      .text-clump
        .col-2
          h2 Instructions
          a(href='/images/instructions.pdf')
            img.normal(src='/images/instructions.png')
            .center instructions.pdf
        .col.last
          h2 Decal
          a(href='/images/decal.pdf')
            img.small(src='/images/decal.png')
            .center decal.pdf