.header
  .navigation
    .container
      ul
        li
          a(href='/dashboard') dashboard
        li
          a(href="/settings") settings
        li
          | print
        li
          a(href="/logout") logout
  .container
    .logo
.headline
  .container
    h1 Printables
.body
  .container
    h2 Kickers
    .window
      h2 Multi-Use Kicker
      .text-clump
    .window
      h2 One-Time-Use Kicker
      .text-clump
    h2 Other Materials
    .window
      .text-clump
        .col
          h2 window decal
          a(href='/images/decal.pdf')
            img.small(src='/images/decal.png')
            .center decal.pdf