.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          a(href="/features") features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
    .sign-up
      .disclaimer Vendors, request a beta invite:
      a.button(href='/sign-up') sign up
.headline
  .container
    h1 Stuff to Print
.body
  .container
    .window
      h2 Materials
      .text-clump
        .col-2
          h2 Instructions
          a(href='/images/instructions.pdf')
            img.normal(src='/images/instructions.png')
            .center instructions.pdf
        .col.last
          h2 Decal
          a(href='/images/decal.pdf')
            img.small(src='/images/decal.png')
            .center decal.pdf