.header
  .container
    .logo
.body
  .container
    h1 Looks Good!
    .window
      p That Redemption QR code you just scanned looks good to me boss.
      p I can see that it was added on:
      p=redeem.date_added