.header
  .navigation
    .container
      ul
        li
          a(href='/dashboard') dashboard
        li
          | settings
        li
          a(href="/print") print
        li
          a(href="/logout") logout
  .container
    .logo
.headline
  .container
    h1 Settings
.body
  .container
    //h2 Users
    .window
      h2 Basic Info
      .text-clump
        .listing
          .text-fields
            .field-row
              .one
                label Business Name
                input.new-name
              .one
                label Address
                input.new-address
              .one
                label Phone Number
                input.new-contact
            .field-row
              .one
                label Site URL
                input.new-site_url
              .one
                label Yelp URL
                input.new-yelp_url
              .one
                label Business Hours
                input.new-hours
    .window
      h2 Users
      .text-clump
    .window
      h2 Deals
      .text-clump