.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          a(href="/features") features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
.headline
  .container
    h1 Join Us
.body
  .container
    .window
      p Currently in private beta.
      p Sign up form coming soon.