.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          a(href="/features") features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
.headline
  .container
    h1 Join Us
.body
  .container
    .window
      h2 Find Business
      .text-clump
        p Enter your business name and a local zip code, or local city, to find your information and get started.
        .text-fields
          .one
            label Business Name
            input(name='name',placeholder='e.g. Sals Pizzeria',autocomplete='off')
          .two
            label Zip Code &nbsp;or&nbsp; City Name
            input(placeholder='e.g. 85260')
          .three
            a.button(href='#') Search


    .window
      h2 Modify Deal
      .text-clump
        p Select the quantity, type of item that should be purchased, and then any reward (free, discount, anything)
        h2(style='text-align:center;width:500px;margin:30px auto 0 auto;color:#6F6F6E') under maintenance - check back soon
    .window
      h2 Get Access
      .text-clump
        p Enter the email address and password that will be used to access your analytics dashboard.
        h2(style='text-align:center;width:500px;margin:30px auto 0 auto;color:#6F6F6E') under maintenance - check back soon
    a.finish-button(href='#') finish sign up