.header
  .navigation
    .container
      ul
        li
          a(href="/") home
        li
          a(href="/features") features
        li
          a(href="/about") about
        li
          a(href="/faq") faq
        li
          a(href="/login") login
  .container
    .logo
.headline
  .container
    h1 Join Us
.body
  .container
    .window.step-1
      h2 Find Your Business
      .text-clump
        .text-fields
          .one
            label Business Name
            input.name(name='name',placeholder='e.g. Sals Pizzeria',autocomplete='off')
          .two
            label Zip Code
            input.zip(placeholder='e.g. 85260')
            span.subtitle ... or full address or intersection
          .three
            a.button.search(href='#') Search
        .results
          p.centered Start typing your name to begin the search, results will load here automatically.
        .new-listing
          .text-fields
            .field-row
              .one
                label Business Name
                input.new-name
              .one
                label Address
                input.new-address
              .one
                label Phone Number
                input.new-contact
            .field-row
              .one
                label Site URL
                input.new-site_url
              .one
                label Yelp URL
                input.new-yelp_url
              .one
                label Business Hours
                input.new-hours
    .window.step-2
      h2 Modify Deal
      .text-clump
        .text-fields
          ul.deal-list
            li Buy 
            li
              select.buy_qty
                -for(var i = 1; i<=20; i++)
                  option(value=i,selected=(10==i))=i
            li
              input.buy_item(value='lunches')
              span.subtitle what customers will buy
            li get 
            li
              input.get_item(value='1 lunch FREE!')
              span.subtitle the reward
    .window.step-3
      h2 Get Access
      .text-clump
        .text-fields
          .one
            label Email Address
            input.email(placeholder='e.g. me@me.com')
            span.subtitle no verification, no newsletter
          .one
            label Password
            input.password(type='password')
            span.subtitle at least 6 characters
          .one
            label Repeat Password
            input.repeat-password(type='password')
    a.step-4.finish-button(href='#') Beta Request