.container.user
  h2 Users
  .add-row
    a.add(href='#') add user
.assets
  ul.user-row
    li
      input(disabled='disabled')
    li
      select(disabled='disabled')
        option(value='user') user
        option(value='admin') admin
    li
      a.edit(href='#') edit