body .body .container {
  padding: 15px;
}
body .body .container .phone-area {
  display: block;
  margin: 30px auto;
  width: 335px;
  float: none;
}
body .body .container .content-area {
  float: none;
  overflow: hidden;
  margin-right: 0;
  max-width: 100%;
}
body .body .step-copy .scan {
  background: url("/images/step1-scan.png") no-repeat 20px 0;
  width: 250px;
}
body .body .step-copy .scan div {
  margin: 120px 0 0 0;
}
body .body .step-copy .earn {
  background: url("/images/step2-earn.png") no-repeat 130px 0;
  width: 250px;
  margin-top: 30px;
}
body .body .step-copy .earn div {
  margin: 60px 0 0 0px;
}
body .body .step-copy .burger {
  background: url("/images/step3-burger.png") no-repeat 130px 0;
  width: 250px;
}
body .body .step-copy .burger div {
  width: 140px;
  margin: 15px 0 0 0;
}
body .body .col-left,
body .body .col-right {
  display: none;
}
body .headline .container,
body .navigation .container {
  padding-left: 15px;
  padding-right: 15px;
}
body .window {
  padding: 30px 10px 10px 10px;
}
body .window .wide {
  width: 480px;
}
body .text-clump {
  padding: 15px;
}
body .text-clump .shift,
body .text-clump .op-shift {
  width: 75px;
}
body .faq .set .line p {
  margin-left: 5px;
}
body .window {
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
