@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import url('//fonts.googleapis.com/css?family=Luckiest+Guy');
@import "reset.css";
body {
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  background: #dbdbdb;
  color: #fff;
}
body h1,
body h2,
body h3 {
  font-family: "Luckiest Guy";
  text-transform: uppercase;
  font-weight: normal;
}
body input,
body select {
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
}
body b {
  font-weight: bold;
}
body a {
  color: #fff;
}
body ul {
  overflow: hidden;
}
body ul li {
  float: left;
  display: block;
}
body .bg2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 108px;
  height: 70px;
  background: #6f6f6e;
  display: block;
  z-index: -1;
}
body .header {
  background: #dbdbdb;
  color: #2d6031;
}
body .header a {
  color: #4e7a3c;
}
body .header .container {
  padding: 15px 15px;
  overflow: hidden;
}
body .header .container .logo {
  background: url("/images/KBHeader.png") no-repeat left top;
  height: 78px;
  width: 320px;
  float: left;
  cursor: pointer;
}
body .header .container .navigation {
  float: right;
}
body .header .container .navigation li {
  margin: 0 0 0 15px;
}
body .header .container .navigation .users .users,
body .header .container .navigation .vendors .vendors {
  color: #333;
  text-decoration: none;
}
body .body {
  background: #2d6031 url("/images/body-bg.png") repeat-x 0 70px;
}
body .body h1 {
  font-size: 2em;
  line-height: 2em;
  margin-top: -20px;
}
body .body h2 {
  font-size: 2em;
  line-height: 2em;
  margin-top: -20px;
}
body .body i {
  font-style: italic;
}
body .body p {
  margin: 15px 0;
}
body .body .step-copy {
  color: #000;
}
body .body .step-copy li {
  font-family: "Luckiest Guy";
  height: 200px;
  width: 200px;
  font-size: 36px;
  line-height: 42px;
}
body .body .step-copy .scan {
  background: url("/images/step1-scan.png") no-repeat 0 0;
  width: 193px;
}
body .body .step-copy .scan div {
  margin: 120px 0 0 0;
}
body .body .step-copy .earn {
  background: url("/images/step2-earn.png") no-repeat 70px 40px;
  width: 200px;
}
body .body .step-copy .earn div {
  margin: 10px 0 0 50px;
}
body .body .step-copy .burger {
  background: url("/images/step3-burger.png") no-repeat 20px 90px;
  width: 140px;
}
body .body .step-copy .burger div {
  margin: 20px 0 0 35px;
}
body .body .col-left,
body .body .col-right {
  text-align: center;
}
body .body .col-left .qr-container,
body .body .col-right .qr-container {
  display: none;
  margin: 10px;
  padding: 5px;
  background: #fff;
  border: 1px solid #6f6f6e;
  color: #000;
  width: auto;
}
body .body .col-left .text,
body .body .col-right .text {
  display: none;
  margin: 5px;
}
body .body .col-left {
  float: left;
}
body .body .col-right {
  float: right;
}
body .body .container {
  overflow: hidden;
}
body .body .container .content-area {
  float: left;
  max-width: 580px;
}
body .body .container .phone-area {
  width: 300px;
  float: right;
}
body .body .container .phone-area .screenshot {
  margin-left: 15px;
  background: url("/images/screenshot_03.png");
  height: 584px;
  width: 300px;
}
body .body .container .phone-area .screenshot .screens {
  float: left;
  margin-left: 26px;
  margin-top: 105px;
  height: 378px;
  width: 252px;
  overflow: hidden;
}
body .body .container .phone-area .screenshot .screens ul {
  width: 9000px;
}
body .body .container .phone-area .screenshot .screens ul li {
  float: left;
}
body .body .row {
  background: #aaa;
  color: #000;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 4px #fff;
  box-shadow: 0px 0px 4px #fff;
  margin: 30px 0;
}
body .body .row a {
  color: #000;
}
body .body .row li {
  white-space: no-wrap;
  width: 205px;
  overflow: hidden;
  padding: 10px;
}
body .body .row:nth-child(even) {
  color: #6f6f6e;
  background: #fff;
}
body .body .row:nth-child(even) a {
  color: #6f6f6e;
}
body .body .add-row {
  margin: 60px 0;
  text-align: center;
}
body .body .add-row a {
  background: #6f6f6e;
  border-color: #000;
  color: #00b7ff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 8px;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body .body .modified,
body .body .modified:nth-child(even) {
  background: #cfc;
  -moz-box-shadow: 0px 0px 12px #cfc;
  -webkit-box-shadow: 0px 0px 12px #cfc;
  box-shadow: 0px 0px 12px #cfc;
}
body .body .deleted,
body .body .deleted:nth-child(even) {
  background: #fcc;
  -moz-box-shadow: 0px 0px 12px #fcc;
  -webkit-box-shadow: 0px 0px 12px #fcc;
  box-shadow: 0px 0px 12px #fcc;
}
body .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
body .footer {
  text-align: center;
  background: #dbdbdb;
}
body .footer .container {
  padding: 0;
}
body .footer ul {
  text-align: center;
}
body .footer ul li {
  display: inline-block;
  float: inherit;
  margin: 5px 10px;
}
body .faq .sample {
  border: 1px solid #aaa;
}
body .faq .set {
  display: block;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
}
body .faq .set .line {
  display: block;
  color: #000;
  overflow: hidden;
}
body .faq .set .line h3 {
  font-family: "Luckiest Guy";
  float: left;
  font-size: 36px;
  line-height: 34px;
  margin: 20px;
}
body .faq .set .line p {
  font-size: 13px;
  float: right;
  width: 430px;
  line-height: 34px;
}
body .tooltip {
  border: 1px solid #990;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  padding: 2px 8px;
  background: #ffc;
  color: #000;
  font-size: 0.7em;
  margin-top: -29px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
body .modal {
  background: #000;
  opacity: 0.7;
  filter: alpha ( opacity = 70 );
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
body .close {
  font-size: 1em;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 30px;
  background: #aaa;
  color: #6f6f6e;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
body .window {
  background: #fff;
  color: #2d6031;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  min-height: 235px;
  width: 500px;
  padding: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
body .window a {
  color: #2d6031;
}
body .window h2 {
  font-size: 1.5em;
}
body .window .error-message {
  padding: 4px 8px;
  border: 1px solid #900;
  background: #fcc;
}
body .window .tabs {
  margin: 0 0 30px 0;
}
body .window .tabs li {
  padding: 1px 8px;
  border: 1px solid #6f6f6e;
  cursor: pointer;
  color: #6f6f6e;
  margin-top: 5px;
}
body .window .tabs li.active {
  font-weight: bold;
  margin-top: 0;
  padding: 4px 8px;
  border-bottom: none;
  color: #000;
  cursor: auto;
}
body .window .previews iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}
body .window fieldset .fields {
  margin: 15px 0;
  overflow: hidden;
}
body .window fieldset .fields label {
  width: 150px;
  display: block;
  float: left;
}
body .window fieldset .fields .input {
  width: 240px;
  display: block;
  float: right;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;
}
body .window fieldset .fields .error {
  border: 1px solid #900;
  background: #fcc;
}
body .window fieldset .fields .valid {
  border: 1px solid #090;
  background: #cfc;
}
body .window fieldset .fields .loading {
  border: 1px solid #666;
  background: #fff;
}
body .window fieldset .fields .real-address {
  float: right;
  height: 40px;
  width: 246px;
  padding: 5px;
  display: block;
  border: 1px solid #6f6f6e;
  border-bottom: 0;
  font-size: 10px;
  text-align: right;
}
body .window fieldset .fields .google-map {
  float: right;
  height: 100px;
  width: 256px;
  display: block;
  border: 1px solid #6f6f6e;
  border-top: 0;
  overflow: hidden;
}
body .window fieldset .fields .disabled {
  opacity: 0.3;
  filter: alpha ( opacity = 30 );
}
body .window fieldset .factual-details li {
  float: none;
  display: block;
  font-size: 10px;
  text-align: right;
}
body .window fieldset .required label,
body .window fieldset .required .input {
  font-weight: bold;
}
body .window fieldset .row {
  margin: 15px 0;
  background: #aaa;
  -moz-box-shadow: 0px 0px 4px #aaa;
  -webkit-box-shadow: 0px 0px 4px #aaa;
  box-shadow: 0px 0px 4px #aaa;
  padding: 15px;
}
body .window fieldset .row li {
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  padding-right: 10px;
}
body .window fieldset .row li .input {
  width: 90px;
}
body .window fieldset .row li .buy_qty {
  width: 40px;
}
body .window fieldset .row li .buy_item {
  width: 120px;
}
body .window fieldset .row li .get_item {
  width: 180px;
}
body .window fieldset .row .text {
  clear: both;
  float: inherit;
}
body .window fieldset .row .text .tag_line {
  width: 100%;
  text-align: center;
}
body .window fieldset .row .buttons {
  padding: 15px 0 0 0;
  text-align: center;
  float: inherit;
}
body .window fieldset .row .buttons .print {
  background: #6f6f6e;
  border-color: #000;
  color: #00b7ff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 8px;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body .window fieldset .add-row {
  margin: 30px 0;
  text-align: center;
}
body .window fieldset .add-row a {
  background: #6f6f6e;
  border-color: #000;
  color: #00b7ff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 8px;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body .window .print .option {
  margin: 15px 0;
  padding: 15px;
  background: rgba(190,190,190,0.1);
  -moz-box-shadow: 0px 0px 4px #aaa;
  -webkit-box-shadow: 0px 0px 4px #aaa;
  box-shadow: 0px 0px 4px #aaa;
}
body .window .print .option .row {
  margin: 5px 0;
}
body .window .print .option .row .column-one {
  width: 100px;
}
body .window .print .option .text input {
  width: 350px;
}
body .window .print .option .warning {
  display: none;
}
body .window .print .option .warning .alert {
  width: 340px;
  padding: 5px;
  background: #fcc;
  border: 1px solid #900;
}
body .window .buttons {
  overflow: hidden;
  width: 100%;
}
body .window .buttons .submit,
body .window .buttons .cancel {
  margin: 30px 0 0 0;
  font-size: 1.2em;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 30px;
}
body .window .buttons .cancel {
  background: #aaa;
  color: #6f6f6e;
}
body .window .buttons .submit {
  float: right;
  margin-left: 15px;
  background: #6f6f6e;
  border-color: #000;
  color: #00b7ff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 8px;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body .window .buttons .cancel {
  margin-right: 15px;
  float: left;
}
body .container .modal {
  display: block;
}
body .container .window {
  display: block;
  position: relative;
  margin: 0 auto;
}
body .assets {
  display: none;
}
