@import "reset.css";
/**************************************
 *
 * ^^^^^
 * Get the Basics out of the way, import fonts and reset css
 * 
 **************************************/
/**********************************
 *
 * Font and Color global defintions
 *
 **********************************/
/********************************
 *
 * Generic Functions for css3/etc
 *
 ********************************/
/**************************************
 *
 * Top level "tag" definitions, e.g. h1
 *
 **************************************/
body {
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  background: #333;
/**************************************
   *
   * The grey fade stripe below the header 
   *
   **************************************/
/**************************************
   *
   * The header at the top of every page
   *
   **************************************/
/************************************************
   *
   * Body top level tag definitions, e.g. p margins
   *
   ************************************************/
/**************************************
   *
   * Containers are for width boundaries
   * only
   *
   **************************************/
/**************************************
   *
   * FAQ Page
   * questions and answers
   *
   **************************************/
/**************************************
   *
   * These are the little popups above
   * fields that say 'valid' or 'error'
   *
   **************************************/
/**************************************
   *
   * The modal background and window
   * used everywhere.
   *
   **************************************/
/**************************************
   *
   * For the login screen, the modal and
   * window within a container.
   *
   **************************************/
/**************************************
   *
   * For loading html to be cloned or 
   * shown by javascript later.
   *
   **************************************/
}
body h1,
body h2,
body h3 {
  font-family: "Luckiest Guy";
  text-transform: uppercase;
  font-weight: normal;
}
body input,
body select {
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
}
body b {
  font-weight: bold;
}
body a {
  color: #fff;
}
body ul {
  overflow: hidden;
}
body ul li {
  float: left;
  display: block;
}
body .bg2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 108px;
  height: 70px;
  background: #6f6f6e;
  display: block;
  z-index: -1;
}
body a.vert-center img {
  margin-bottom: -5px;
  margin-right: 5px;
}
body .header {
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#dbdbdb));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f4f4f4, #dbdbdb);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f4f4f4, #dbdbdb);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #f4f4f4, #dbdbdb);
/* IE10 */
  background-image: -o-linear-gradient(top, #f4f4f4, #dbdbdb);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #f4f4f4, #dbdbdb);
  color: #2d6031;
}
body .header a {
  color: #4e7a3c;
}
body .header .container {
  padding: 15px 0;
  overflow: hidden;
}
body .header .container .logo {
  background: url("/images/KBHeader.png") no-repeat 0 15px;
  height: 100px;
  width: 320px;
  float: left;
  cursor: pointer;
}
body .header .container .sign-up {
  width: auto;
  text-align: center;
  float: right;
}
body .header .container .sign-up .disclaimer {
  color: #6f6f6e;
  font-size: 12px;
  margin: 0 0 10px 0;
}
body .header .container .sign-up .button {
  display: block;
  padding: 20px 30px 5px 30px;
  background-color: #69cd68;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#69cd68), to(#359b34));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #69cd68, #359b34);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #69cd68, #359b34);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #69cd68, #359b34);
/* IE10 */
  background-image: -o-linear-gradient(top, #69cd68, #359b34);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #69cd68, #359b34);
  -moz-box-shadow: 4px 4px 8px #1b4f1a;
  -webkit-box-shadow: 4px 4px 8px #1b4f1a;
  box-shadow: 4px 4px 8px #1b4f1a;
  margin: 0 8px 8px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 48px;
  font-weight: normal;
  font-family: "Luckiest Guy";
  color: #fff;
  text-decoration: none;
}
body .navigation {
  background: #333;
  overflow: hidden;
  font-size: 14px;
  color: #6f6f6e;
  text-decoration: none;
}
body .navigation .container {
  padding: 0;
}
body .navigation ul {
  float: right;
}
body .navigation li {
  margin: 0 0 0 30px;
  padding: 3px 0;
}
body .navigation a {
  color: #fff;
  text-decoration: none;
}
body h1 {
  font-size: 2em;
}
body .headline {
  background: #333;
  color: #6f6f6e;
}
body .headline .container {
  padding: 20px 0 10px 0;
}
body .body {
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#8e8e8e));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #dbdbdb, #8e8e8e);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #dbdbdb, #8e8e8e);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #dbdbdb, #8e8e8e);
/* IE10 */
  background-image: -o-linear-gradient(top, #dbdbdb, #8e8e8e);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #dbdbdb, #8e8e8e);
/**************************************
     *
     * Home Page specific containers and structure
     *
     **************************************/
/**************************************
     *
     * Generic row and row alt styling used
     * in vendors and users long scrolling
     * pages.
     *
     **************************************/
}
body .body h2 {
  font-size: 2em;
  line-height: 2em;
  margin-top: -20px;
}
body .body i {
  font-style: italic;
}
body .body p {
  margin: 15px 0;
}
body .body .content-area {
  background-color: #00abff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00abff), to(#0089cc));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #00abff, #0089cc);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #00abff, #0089cc);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #00abff, #0089cc);
/* IE10 */
  background-image: -o-linear-gradient(top, #00abff, #0089cc);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #00abff, #0089cc);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 8px #000;
  -webkit-box-shadow: 2px 2px 8px #000;
  box-shadow: 2px 2px 8px #000;
  color: #1a1a1a;
}
body .body .step-copy {
  margin: 15px;
}
body .body .step-copy li {
  font-family: "Luckiest Guy";
  height: 200px;
  width: 200px;
  font-size: 36px;
  line-height: 42px;
}
body .body .step-copy .scan {
  background: url("/images/step1-scan.png") no-repeat 0px 50px;
  width: 193px;
}
body .body .step-copy .scan div {
  margin: 10px 0 0 40px;
}
body .body .step-copy .earn {
  background: url("/images/step2-earn.png") no-repeat 70px 50px;
  width: 200px;
}
body .body .step-copy .earn div {
  margin: 10px 0 0 50px;
}
body .body .step-copy .burger {
  background: url("/images/step3-burger.png") no-repeat 20px 100px;
  width: 140px;
}
body .body .step-copy .burger div {
  margin: 10px 0 0 35px;
}
body .body .separator {
  margin: 30px 15px;
}
body .body .my-copy {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #6f6f6e;
  padding: 1px;
  margin: 15px;
}
body .body .my-copy p {
  margin: 15px 15px;
}
body .body .my-copy b {
  font-weight: normal;
  color: #eee;
}
body .body .col-left,
body .body .col-right {
  margin: 15px;
  text-align: center;
}
body .body .col-left .qr-container,
body .body .col-right .qr-container {
  display: none;
  margin: 10px;
  padding: 5px;
  background: #fff;
  border: 1px solid #6f6f6e;
  color: #000;
  width: auto;
}
body .body .col-left .text,
body .body .col-right .text {
  display: none;
  margin: 5px;
}
body .body .col-left {
  float: left;
}
body .body .col-right {
  float: right;
}
body .body .clear {
  clear: both;
}
body .body .container .content-area {
  float: left;
  max-width: 565px;
}
body .body .container .phone-area {
  margin-top: -60px;
  float: right;
}
body .body .container .phone-area .screenshot {
  margin-left: 15px;
  background: url("/images/screenshot_03.png");
  height: 584px;
  width: 300px;
}
body .body .container .phone-area .screenshot .screens {
  float: left;
  margin-left: 26px;
  margin-top: 105px;
  height: 378px;
  width: 252px;
  overflow: hidden;
}
body .body .container .phone-area .screenshot .screens ul {
  width: 9000px;
}
body .body .container .phone-area .screenshot .screens ul li {
  float: left;
}
body .body .row {
  background: #00abff;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
  color: #333;
  margin: 30px 0;
}
body .body .row a {
  color: #333;
}
body .body .row li {
  white-space: no-wrap;
  width: 205px;
  overflow: hidden;
  padding: 10px;
}
body .body .row:nth-child(even) {
  color: #6f6f6e;
  background: #fff;
}
body .body .row:nth-child(even) a {
  color: #6f6f6e;
}
body .body .add-row {
  margin: 60px 0;
  text-align: center;
}
body .body .add-row a {
  cursor: pointer;
  text-decoration: none;
  padding: 8px 20px 0 20px;
  background-color: #7eb468;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7eb468), to(#4e7a3c));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7eb468, #4e7a3c);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #7eb468, #4e7a3c);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #7eb468, #4e7a3c);
/* IE10 */
  background-image: -o-linear-gradient(top, #7eb468, #4e7a3c);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #7eb468, #4e7a3c);
  -moz-box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  box-shadow: 2px 2px 4px #000;
  border: none;
  font-family: "Luckiest Guy";
  font-size: 24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 6px 6px 0;
  color: #fff;
}
body .body .modified,
body .body .modified:nth-child(even) {
  background: #cfc;
  -moz-box-shadow: 12px 12px 12px #cfc;
  -webkit-box-shadow: 12px 12px 12px #cfc;
  box-shadow: 12px 12px 12px #cfc;
}
body .body .deleted,
body .body .deleted:nth-child(even) {
  background: #fcc;
  -moz-box-shadow: 12px 12px 12px #fcc;
  -webkit-box-shadow: 12px 12px 12px #fcc;
  box-shadow: 12px 12px 12px #fcc;
}
body .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
body .footer {
  margin-top: 20px;
  text-align: center;
  background: #333;
}
body .footer .really-above {
  color: #6f6f6e;
  font-size: 12px;
  padding-bottom: 10px;
}
body .footer .really-above a {
  font-size: 12px;
  color: #6f6f6e;
  text-decoration: none;
}
body .footer .above {
  border-top: 1px solid #6f6f6e;
  padding: 20px 0 0 0;
  color: #6f6f6e;
  font-size: 12px;
}
body .footer .other {
  padding: 0 0 15px 0;
  color: #6f6f6e;
  font-size: 12px;
}
body .footer .other a {
  color: #00abff;
  font-size: 12px;
  text-decoration: none;
}
body .footer .container {
  padding: 0;
}
body .footer ul {
  text-align: center;
}
body .footer ul li {
  display: inline-block;
  float: inherit;
  margin: 15px 10px;
}
body .highlighted-item {
  background-color: #2d6031;
  font-family: "Luckiest Guy";
  padding: 10px 10px 5px 10px;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
body .finish-button {
  display: block;
  padding: 20px 30px 5px 30px;
  text-align: center;
  max-width: 450px;
  background-color: #69cd68;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#69cd68), to(#359b34));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #69cd68, #359b34);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #69cd68, #359b34);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #69cd68, #359b34);
/* IE10 */
  background-image: -o-linear-gradient(top, #69cd68, #359b34);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #69cd68, #359b34);
  -moz-box-shadow: 4px 4px 8px #1b4f1a;
  -webkit-box-shadow: 4px 4px 8px #1b4f1a;
  box-shadow: 4px 4px 8px #1b4f1a;
  margin: 0 auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 48px;
  font-weight: normal;
  font-family: "Luckiest Guy";
  color: #fff;
  text-decoration: none;
}
body .small {
  width: 200px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
body .center {
  text-align: center;
}
body .wide {
  margin: 0 0 30px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
body .text-clump {
  overflow: hidden;
  padding: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #eee;
/**************************************
     *
     * .deal-list  / .results / .new-listing are all for the sign up page right now
     *
     **************************************/
}
body .text-clump .deal-list li {
  line-height: 34px;
  margin: 15px 15px;
}
body .text-clump .deal-list li span {
  line-height: 16px;
}
body .text-clump .subtitle {
  font-size: 12px;
  color: #6f6f6e;
  display: block;
}
body .text-clump .new-listing {
  display: none;
  padding: 0 0 0 120px;
}
body .text-clump .new-listing .field-row {
  margin: 15px 0;
}
body .text-clump .new-listing .field-row input {
  width: 180px;
}
body .text-clump .new-listing.selected {
  display: block;
  color: #1a1a1a;
  background: #00abff url("/images/checkmark.png") no-repeat 15px 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body .text-clump .results {
  height: 200px;
  margin: 20px 0 0 0;
  color: #6f6f6e;
  text-align: center;
}
body .text-clump .results p.centered {
  padding: 70px 0 0 0;
}
body .text-clump .results p.bottom {
  padding: 10px 0 0 0;
}
body .text-clump .results .selected {
  color: #1a1a1a;
  background: #00abff url("/images/checkmark.png") no-repeat 15px 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body .text-clump .results li {
  background: url("/images/checkmark-off.png") no-repeat 15px 1px;
  position: relative;
  text-align: left;
  cursor: pointer;
  margin: 10px 0 0 0;
  padding: 10px 15px 10px 120px;
  display: block;
  float: none;
  overflow: hidden;
}
body .text-clump .results li .slider {
  position: absolute;
  background: #00abff;
  height: 50px;
  width: 60px;
  top: 0;
  left: 8px;
  display: none;
}
body .text-clump .results li .name {
  float: left;
  width: 150px;
  height: 22px;
  overflow: hidden;
  margin-right: 60px;
}
body .text-clump .results li .address {
  float: left;
  width: 150px;
  height: 22px;
  overflow: hidden;
  margin-right: 60px;
}
body .text-clump .results li .phone {
  float: left;
  width: 150px;
  height: 22px;
  overflow: hidden;
}
body .text-clump .text-fields {
  overflow: hidden;
}
body .text-clump .text-fields .error {
  background: #fcc;
}
body .text-clump .text-fields .valid {
  background: #cfc;
}
body .text-clump .text-fields div {
  float: left;
  margin-right: 30px;
}
body .text-clump .text-fields div label {
  display: block;
  font-size: 11px;
}
body .text-clump .text-fields div .button {
  display: block;
  text-align: center;
  padding: 10px 30px 5px 30px;
  margin: 11px 0 0 0;
  background-color: #00abff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00abff), to(#006799));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #00abff, #006799);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #00abff, #006799);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #00abff, #006799);
/* IE10 */
  background-image: -o-linear-gradient(top, #00abff, #006799);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #00abff, #006799);
  -moz-box-shadow: 2px 2px 8px #000;
  -webkit-box-shadow: 2px 2px 8px #000;
  box-shadow: 2px 2px 8px #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Luckiest Guy";
  color: #1a1a1a;
  text-decoration: none;
}
body .text-clump p {
  font-size: 13px;
  line-height: 28px;
  margin: 0 0 15px 0;
}
body .text-clump p b {
  font-weight: normal;
  color: #00abff;
}
body .text-clump .shadow-me {
  -moz-box-shadow: 4px 4px 15px #000;
  -webkit-box-shadow: 4px 4px 15px #000;
  box-shadow: 4px 4px 15px #000;
  margin: 15px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}
body .text-clump .col-2 {
  float: left;
  max-width: 580px;
  margin-right: 45px;
}
body .text-clump .col {
  float: left;
  max-width: 240px;
  min-width: 200px;
  margin-right: 30px;
}
body .text-clump .last {
  margin-right: 0;
}
body .text-clump .shift.a {
  margin-left: 0;
}
body .text-clump .shift {
  float: left;
  margin-left: -40px;
}
body .text-clump .shift.b {
  margin-top: 30px;
}
body .text-clump .shift.c {
  margin-top: 60px;
}
body .text-clump .shift.d {
  margin-top: 90px;
}
body .text-clump .op-shift {
  margin-left: 10px;
  float: right;
  margin-right: -50px;
}
body .text-clump .op-shift.b {
  margin-top: 30px;
}
body .text-clump .op-shift.c {
  margin-top: 60px;
}
body .text-clump .op-shift.d {
  margin-top: 90px;
}
body .text-clump .spacer {
  display: inline-block;
  width: 20px;
}
body .faq .sample {
  border: 1px solid #aaa;
}
body .faq .set {
  display: block;
}
body .faq .set .line {
  display: block;
  overflow: hidden;
  text-align: center;
}
body .faq .set .line h3 {
  font-family: "Luckiest Guy";
  float: left;
  font-size: 36px;
  line-height: 36px;
  margin: 20px;
}
body .faq .set .line img {
  margin: 15px;
}
body .faq .set .line p {
  font-family: "Luckiest Guy";
  margin-left: 65px;
  text-align: left;
  font-size: 16px;
  line-height: 36px;
}
body .faq .set .a {
  padding: 45px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
}
body .faq .set .a h3 {
  color: #eee;
}
body .faq .set .a p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 28px;
  color: #eee;
}
body .faq .set .a p b {
  font-weight: normal;
  color: #00abff;
}
body .tooltip {
  border: 1px solid #990;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  padding: 2px 8px;
  background: #ffc;
  color: #000;
  font-size: 0.7em;
  margin-top: -29px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
body .modal {
  background: #000;
  opacity: 0.8;
  filter: alpha ( opacity = 80 );
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
body .close {
  font-size: 1em;
  padding: 4px 30px;
  background: #aaa;
  background: #aaa;
  background: rgba(170,170,170,0.95);
  color: #6f6f6e;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}
body .window {
  background: #fff;
  background: rgba(255,255,255,0.95);
}
body .body .window {
  background-color: #00abff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00abff), to(#0089cc));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #00abff, #0089cc);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #00abff, #0089cc);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #00abff, #0089cc);
/* IE10 */
  background-image: -o-linear-gradient(top, #00abff, #0089cc);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #00abff, #0089cc);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 8px #000;
  -webkit-box-shadow: 2px 2px 8px #000;
  box-shadow: 2px 2px 8px #000;
  color: #1a1a1a;
}
body .window {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  color: #2d6031;
  padding: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
/**************************************
     *
     * Tabs for vendors multiple forms
     *
     **************************************/
/**************************************
     *
     * Print Dialog
     *
     **************************************/
/**************************************
     *
     * Buttons at the bottom of most windows
     *
     **************************************/
}
body .window a {
  color: #00abff;
  text-decoration: none;
}
body .window h2 {
  font-size: 1.5em;
}
body .window .error-message {
  padding: 4px 8px;
  border: 1px solid #900;
  background: #fcc;
}
body .window .tabs {
  margin: 0 0 30px 0;
  border-bottom: 1px solid #2d6031;
}
body .window .tabs li {
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  font-family: "Luckiest Guy";
  background: #2d6031;
  padding: 10px 15px 0 15px;
  cursor: pointer;
  color: #aaa;
  margin-top: 10px;
  margin-right: 10px;
  line-height: 24px;
  font-size: 16px;
}
body .window .tabs li.active {
  margin-top: 0;
  padding: 15px 15px 5px 15px;
  border-bottom: none;
  font-size: 24px;
  color: #fff;
  cursor: auto;
}
body .window .previews iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}
body .window fieldset .fields {
  margin: 15px 0;
  overflow: hidden;
}
body .window fieldset .fields label {
  width: 150px;
  display: block;
  float: left;
}
body .window fieldset .fields .input {
  width: 240px;
  display: block;
  float: right;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;
}
body .window fieldset .fields .error {
  border: 1px solid #900;
  background: #fcc;
}
body .window fieldset .fields .valid {
  border: 1px solid #090;
  background: #cfc;
}
body .window fieldset .fields .loading {
  border: 1px solid #555;
  background: #eee;
}
body .window fieldset .fields .google-map {
  float: right;
  height: 100px;
  width: 256px;
  display: block;
  border: 1px solid #6f6f6e;
  border-top: 0;
  overflow: hidden;
}
body .window fieldset .fields .disabled {
  opacity: 0.3;
  filter: alpha ( opacity = 30 );
}
body .window fieldset .factual-details li {
  float: none;
  display: block;
  font-size: 10px;
  text-align: right;
}
body .window fieldset .required label,
body .window fieldset .required .input {
  font-weight: bold;
}
body .window fieldset .row {
  margin: 15px 0;
  background: #00abff;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
  padding: 15px;
}
body .window fieldset .row li {
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  padding-right: 10px;
}
body .window fieldset .row li .input {
  width: 90px;
}
body .window fieldset .row li .buy_qty {
  width: 40px;
}
body .window fieldset .row li .buy_item {
  width: 120px;
}
body .window fieldset .row li .get_item {
  width: 180px;
}
body .window fieldset .row .text {
  clear: both;
  float: inherit;
}
body .window fieldset .row .text .tag_line {
  width: 100%;
  text-align: center;
}
body .window fieldset .row .buttons {
  padding: 15px 0 0 0;
  text-align: center;
  float: inherit;
}
body .window fieldset .row .buttons .print {
  cursor: pointer;
  text-decoration: none;
  padding: 8px 20px 0 20px;
  background-color: #7eb468;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7eb468), to(#4e7a3c));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7eb468, #4e7a3c);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #7eb468, #4e7a3c);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #7eb468, #4e7a3c);
/* IE10 */
  background-image: -o-linear-gradient(top, #7eb468, #4e7a3c);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #7eb468, #4e7a3c);
  -moz-box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  box-shadow: 2px 2px 4px #000;
  border: none;
  font-family: "Luckiest Guy";
  font-size: 24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 6px 6px 0;
  color: #fff;
}
body .window fieldset .add-row {
  margin: 30px 0;
  text-align: center;
}
body .window fieldset .add-row a {
  cursor: pointer;
  text-decoration: none;
  padding: 8px 20px 0 20px;
  background-color: #7eb468;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7eb468), to(#4e7a3c));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7eb468, #4e7a3c);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #7eb468, #4e7a3c);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #7eb468, #4e7a3c);
/* IE10 */
  background-image: -o-linear-gradient(top, #7eb468, #4e7a3c);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #7eb468, #4e7a3c);
  -moz-box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  box-shadow: 2px 2px 4px #000;
  border: none;
  font-family: "Luckiest Guy";
  font-size: 24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 6px 6px 0;
  color: #fff;
}
body .window .print .option {
  margin: 15px 0;
  padding: 15px;
  background: rgba(190,190,190,0.10);
  -moz-box-shadow: 4px 4px 4px #aaa;
  -webkit-box-shadow: 4px 4px 4px #aaa;
  box-shadow: 4px 4px 4px #aaa;
}
body .window .print .option .row {
  margin: 5px 0;
}
body .window .print .option .row .column-one {
  width: 100px;
}
body .window .print .option .text input {
  width: 350px;
}
body .window .print .option .warning {
  display: none;
}
body .window .print .option .warning .alert {
  width: 340px;
  padding: 5px;
  background: #fcc;
  border: 1px solid #900;
}
body .window .buttons {
  overflow: hidden;
  width: 100%;
}
body .window .buttons .submit,
body .window .buttons .cancel {
  margin: 30px 0 0 0;
  font-size: 1.2em;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 30px;
}
body .window .buttons .cancel {
  background: #aaa;
  color: #6f6f6e;
}
body .window .buttons .submit {
  float: right;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 20px 0 20px;
  background-color: #7eb468;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7eb468), to(#4e7a3c));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7eb468, #4e7a3c);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #7eb468, #4e7a3c);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #7eb468, #4e7a3c);
/* IE10 */
  background-image: -o-linear-gradient(top, #7eb468, #4e7a3c);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #7eb468, #4e7a3c);
  -moz-box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  box-shadow: 2px 2px 4px #000;
  border: none;
  font-family: "Luckiest Guy";
  font-size: 24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 6px 6px 0;
  color: #fff;
}
body .window .buttons .cancel {
  margin-right: 15px;
  float: left;
}
body .container .modal {
  display: none;
}
body .clear {
  clear: both;
}
body .container .window {
  display: block;
  position: relative;
  margin: 0 auto 60px auto;
}
body .window.left {
  float: left;
  width: 500px;
  margin-right: 30px;
}
body .window.left .nav-left {
  float: left;
}
body .window.left .nav-right {
  float: right;
}
body .window.left .nav-left,
body .window.left .nav-right {
  font-size: 12px;
  margin-top: 10px;
}
body .window.left .legend table td {
  padding: 2px;
}
body .data-view {
  color: #6f6f6e;
  font-size: 14px;
}
body .data-view .label {
  float: left;
  width: 100px;
  clear: left;
}
body .data-view .value {
  float: left;
  width: 100px;
  clear: right;
}
body .window.right {
  float: right;
  width: 240px;
}
body .window.right .latest {
  max-height: 600px;
  overflow: auto;
}
body .window.right .latest .item {
  border-bottom: 1px solid #6f6f6e;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
body .window.right .latest .item .date {
  font-size: 12px;
  color: #6f6f6e;
}
body .assets {
  display: none;
}
