@css {@import url('//fonts.googleapis.com/css?family=Open+Sans');}
@css {@import url('//fonts.googleapis.com/css?family=Luckiest+Guy');}
@import "reset.css"
/**************************************
 *
 * ^^^^^
 * Get the Basics out of the way, import fonts and reset css
 * 
 **************************************/


/**********************************
 *
 * Font and Color global defintions
 *
 **********************************/
font-size = 16px
font = font-size "Open Sans", Helvetica, Arial, sans-serif
font2 = 'Luckiest Guy'

very-dark = #2d6031
dark = #000
semi-light = #aaa
very-light = #fff
light = #FFF
very-dark-alt = #4e7a3c
semi-dark = #6f6f6e
red = #FCC
green = #CFC
yellow = #FFC
darkShift = 60
boxbg = rgba(190,190,190,.1)
gray = #DBDBDB

attention = #00B7FF

/********************************
 *
 * Generic Functions for css3/etc
 *
 ********************************/
box-shadow(n = 4px, color = semi-light)
  -moz-box-shadow: 0px 0px n color
  -webkit-box-shadow: 0px 0px n color
  box-shadow: 0px 0px n color

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
opacity(n)
  opacity n
  filter alpha\(opacity\=n*100\)
absolute()
  display none
  position absolute
  top 0
  left 0
submit()
  background semi-dark
  border-color dark
  color attention
  font-weight bold
  cursor pointer
  text-decoration none
  padding 4px 8px
  border 1px solid semi-dark
  border-radius(4px)

/**************************************
 *
 * Top level "tag" definitions, e.g. h1
 *
 **************************************/
body
  font font
  background gray
  color very-light
  h1,h2,h3
    font-family font2
    text-transform uppercase
    font-weight normal
  input,select
    font font
  a
    color light
  ul
    overflow hidden
    li
      float left
      display block

  /**************************************
   *
   * The grey fade stripe below the header 
   *
   **************************************/
  .bg2
    absolute()
    width 100%
    margin-top 108px
    height 70px
    background semi-dark
    display block
    z-index -1

  /**************************************
   *
   * The header at the top of every page
   *
   **************************************/
  .header
    background gray
    color very-dark
    a
      color very-dark-alt
    .container
      padding 15px 30px
      overflow hidden
      .logo
        background url('/images/KBHeader.png') no-repeat left top
        height 78px
        width 320px
        float left
        cursor pointer
      .navigation
        float right
        li
          margin 0 0 0 15px
        .users .users,.vendors .vendors
          color #333
          text-decoration none

  /************************************************
   *
   * Body top level tag definitions, e.g. p margins
   *
   ************************************************/
  .body
    background very-dark url('/images/body-bg.png') repeat-x 0 70px
    h1
      font-size 2em
      line-height 2em
      margin-top -20px
    h2
      font-size 2em
      line-height 2em
      margin-top -20px
    i
      font-style italic
    p
      margin 15px 0
    .step-copy
      color dark
      li
        font-family 'Luckiest Guy'
        height 200px
        width 200px
        font-size 36px
        line-height 42px
      .scan
        background url('/images/step1-scan.png') no-repeat 0 0
        width 193px
        div
          margin 120px 0 0 0
      .earn
        background url('/images/step2-earn.png') no-repeat 70px 40px
        width 200px
        div
          margin 10px 0 0 50px
      .burger
        background url('/images/step3-burger.png') no-repeat 20px 90px
        width 140px
        div
          margin 20px 0 0 35px
    .col-left,.col-right
      text-align center
      .qr-container
        margin 10px 0
        padding 10px 10px 0 10px
        background light
        border 1px solid dark
        color dark
        .text
          margin 10px
    .col-left
      float left
    .col-right
      float right
    /**************************************
     *
     * Home Page specific containers and structure
     *
     **************************************/
    .container
      overflow hidden
      .content-area
        float left
        max-width 580px
      .phone-area
        width 300px
        float right
        .screenshot
          background url('/images/screenshot_03.png')
          height 584px
          width 300px
          position relative
          img
            margin-left 27px
            margin-top 105px

    /**************************************
     *
     * Generic row and row alt styling used
     * in vendors and users long scrolling
     * pages.
     *
     **************************************/
    .row
      background semi-light
      a
        color dark
      color dark
      box-shadow(4px, light)
      li
        white-space no-wrap
        width 205px
        overflow hidden
        padding 10px
      margin 30px 0
    .row:nth-child(even)
      color semi-dark
      a
        color semi-dark
      background light
    .add-row
      margin 60px 0
      text-align center
      a
        submit()
    .modified,.modified:nth-child(even)
      background green
      box-shadow(12px, green)
    .deleted,.deleted:nth-child(even)
      background red
      box-shadow(12px, red)

  /**************************************
   *
   * Containers are for width boundaries
   * only
   *
   **************************************/
  .container
    max-width 900px
    margin 0 auto
    padding 30px
  .footer
    text-align center
    background gray
    .container
      padding 0
    ul
      text-align center
      li
        display inline-block
        float inherit
        margin 5px 10px
  /**************************************
   *
   * These are the little popups above
   * fields that say 'valid' or 'error'
   *
   **************************************/
  .tooltip
    border 1px solid darken(yellow,darkShift)
    border-radius(3px)
    height 20px
    line-height 20px
    padding 2px 8px
    background yellow
    color dark
    font-size .7em
    margin-top -29px
    absolute()
  
  /**************************************
   *
   * The modal background and window
   * used everywhere.
   *
   **************************************/
  .modal
    background dark
    opacity(.7)
    height 100%
    width 100%
    absolute()
  .close
    font-size 1em
    border 1px solid semi-dark
    border-radius(4px)
    padding 4px 30px
    background semi-light
    color semi-dark
    absolute()
    cursor pointer
  .window
    background #fff
    color very-dark
    a
      color very-dark
    h2
      font-size 1.5em
    border-radius(15px)
    min-height 235px
    width 500px
    padding 30px
    absolute()
    overflow hidden
    .error-message
      padding 4px 8px
      border 1px solid darken(red,darkShift)
      background red
    /**************************************
     *
     * Tabs for vendors multiple forms
     *
     **************************************/
    .tabs
      margin 0 0 30px 0
      li
        padding 1px 8px
        border 1px solid semi-dark
        cursor pointer
        color semi-dark
        margin-top 5px
      li.active
        font-weight bold
        margin-top 0
        padding 4px 8px
        border-bottom none
        color dark
        cursor auto
    .previews
      iframe
        width 100%
        height 200px
        margin-bottom 30px
    fieldset
      /**************************************
       *
       * Form labels and inputs structure
       *
       **************************************/
      .fields
        margin 15px 0
        overflow hidden
        label
          width 150px
          display block
          float left
        .input
          width 240px
          display block
          float right
          border 1px solid semi-dark
          border-radius(4px)
          padding 4px 8px
          margin 0
        .error
          border 1px solid darken(red,darkShift)
          background red
        .valid
          border 1px solid darken(green,darkShift)
          background green
        .loading
          border 1px solid darken(very-light,darkShift)
          background very-light
        .google-map
          float right
          height 100px
          width 256px
          display block
          border 1px solid semi-dark
          border-radius(4px)
          overflow hidden
        .disabled
          opacity(.3)
      .required
        label,.input
          font-weight bold
      /**************************************
       *
       * Rows, like for users in vendors screen
       *
       **************************************/
      .row
        margin 15px 0
        background semi-light
        box-shadow(4px, semi-light)
        padding 15px
        li
          height 2em
          line-height 2em
          overflow hidden
          padding-right 10px
          .input
            width 90px
          .buy_qty
            width 40px
        .text
          float inherit
          .tag_line
            width 100%
            text-align center
        .buttons
          padding 15px 0 0 0
          text-align center
          float inherit
          .print
            submit()
      .add-row
        margin 30px 0
        text-align center
        a
          submit()

    /**************************************
     *
     * Print Dialog
     *
     **************************************/
    .print
      .option
        margin 15px 0
        padding 15px
        background boxbg
        box-shadow(4px)
        .row
          margin 5px 0
          .column-one
            width 100px
        .text
          input
            width 350px
        .warning
          display none
          .alert
            width 340px
            padding 5px
            background red
            border 1px solid darken(red,darkShift)
    /**************************************
     *
     * Buttons at the bottom of most windows
     *
     **************************************/
    .buttons
      overflow hidden
      width 100%
      .submit,.cancel
        margin 30px 0 0 0
        font-size 1.2em
        border 1px solid semi-dark
        border-radius(4px)
        padding 0 30px
      .cancel
        background semi-light
        color semi-dark
      .submit
        float right
        margin-left 15px
        submit()
      .cancel
        margin-right 15px
        float left
  /**************************************
   *
   * For the login screen, the modal and
   * window within a container.
   *
   **************************************/
  .container .modal
    display block
  .container .window
    display block
    position relative
    margin 0 auto

  /**************************************
   *
   * For loading html to be cloned or 
   * shown by javascript later.
   *
   **************************************/
  .assets
    display none