@import "reset.css"

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
opacity(n)
  opacity n
absolute()
  position absolute
  top 0
  left 0

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background #333
  color #eee
  a
    color #00B7FF
  .header
    background #FFF
    color #333
    a
      color #333
    .container
      padding 15px 0
      overflow hidden
      .logo
        background url('/images/KBlogo114x114.png') no-repeat left top
        height 114px
        width 114px
        float left
      .login
        float right
  .body
    h1
      font-size 2em
      line-height 2.5em
    i
      font-style italic
    p
      margin 15px 0
  .container
    max-width 900px
    margin 0 auto
    padding 30px 0
  .footer
    text-align center
    font-size .8em

  .modal
    background #000
    opacity(.7)
    height 100%
    width 100%
    absolute()

  .window
    background #fff
    border-radius(15px)
    height 200px
    width 500px
    absolute()
