@css {@import url('//fonts.googleapis.com/css?family=Open+Sans');}
@css {@import url('//fonts.googleapis.com/css?family=Luckiest+Guy');}
@import "reset.css"

font-size = 16px
font = font-size "Open Sans", Helvetica, Arial, sans-serif
font2 = 'Luckiest Guy'

very-dark = #3f3e3d
dark = #000
semi-light = #aaa
very-light = #fff
light = #FFF
very-dark-alt = #4e7a3c
semi-dark = #6f6f6e
red = #FCC
green = #CFC
yellow = #FFC
darkShift = 60
boxbg = rgba(190,190,190,.1)

attention = #00B7FF

box-shadow(n = 4px, color = semi-light)
  -moz-box-shadow: 0px 0px n color
  -webkit-box-shadow: 0px 0px n color
  box-shadow: 0px 0px n color

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
opacity(n)
  opacity n
absolute()
  display none
  position absolute
  top 0
  left 0

body
  font font
  background very-dark
  color very-light
  h1,h2,h3
    font-family font2
    text-transform uppercase
    font-weight normal
  input,select
    font font
  a
    color light
  .bg2
    absolute()
    width 100%
    margin-top 108px
    height 130px
    background semi-dark
    display block
    z-index -1
  .header
    background #FFF
    color very-dark
    a
      color very-dark-alt
    .container
      padding 15px 30px
      overflow hidden
      .logo
        background url('/images/KBHeader.png') no-repeat left top
        height 78px
        width 320px
        float left
        cursor pointer
      .navigation
        float right
        overflow hidden
        li
          float left
          margin 0 0 0 15px
        .users .users,.vendors .vendors
          color #333
          text-decoration none
  .body
    h1
      font-size 3em
      line-height 2em
    h2
      font-size 3em
      line-height 2em
    i
      font-style italic
    p
      margin 15px 0
    a
      color attention
    .container
      background boxbg
      box-shadow(4px)
    .row
      background semi-light
      a
        color dark
      color dark
      box-shadow(4px, light)
      overflow hidden
      li
        width 250px
        overflow hidden
        float left
        padding 10px
      margin 30px 0
    .row:nth-child(even)
      color semi-dark
      a
        color semi-dark
      background light
    .add-row
      margin 60px 0
      text-align center
    .modified,.modified:nth-child(even)
      background green
      box-shadow(12px, green)
    .deleted,.deleted:nth-child(even)
      background red
      box-shadow(12px, red)

  .container
    max-width 900px
    margin 0 auto
    padding 30px
  .footer
    text-align center
    font-size .8em
  .tooltip
    border 1px solid darken(yellow,darkShift)
    border-radius(3px)
    height 20px
    line-height 20px
    padding 2px 8px
    background yellow
    color dark
    font-size .7em
    margin-top -29px
    absolute()
  .modal
    background dark
    opacity(.7)
    height 100%
    width 100%
    absolute()
  .window
    background #fff
    color very-dark
    border-radius(15px)
    min-height 235px
    max-width 500px
    padding 30px
    absolute()
    .error-message
      padding 4px 8px
      border 1px solid darken(red,darkShift)
      background red
    h2
      font-size 1.2em
    fieldset
      .fields
        margin 15px 0
        overflow hidden
        label
          width 150px
          display block
          float left
        .input
          width 240px
          display block
          float right
          border 1px solid semi-dark
          border-radius(4px)
          padding 4px 8px
          margin 0
        .error
          border 1px solid darken(red,darkShift)
          background red
        .valid
          border 1px solid darken(green,darkShift)
          background green
        .loading
          border 1px solid darken(very-light,darkShift)
          background very-light
        .google-map
          float right
          height 100px
          width 256px
          background semi-light
          display block
          border 1px solid semi-dark
          border-radius(4px)
          overflow hidden
    .buttons
      overflow hidden
      width 100%
      .submit,.cancel
        margin 30px 0 0 0
        font-size 1.2em
        border 1px solid semi-dark
        border-radius(4px)
        padding 0 30px
      .cancel
        background semi-light
        color semi-dark
      .submit
        background semi-dark
        border-color dark
        color attention
        float right
        font-weight bold
        cursor pointer
      .cancel
        float left
  .container .modal
    display block
  .container .window
    display block
    position relative
    margin 0 auto
  .assets
    display none