@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Luckiest+Guy');
@import "reset.css";
body {
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  background: #3f3e3d;
  color: #fff;
}
body h1,
body h2,
body h3 {
  font-family: "Luckiest Guy";
  text-transform: uppercase;
  font-weight: normal;
}
body input,
body select {
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
}
body a {
  color: #fff;
}
body .bg2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 108px;
  height: 130px;
  background: #6f6f6e;
  display: block;
  z-index: -1;
}
body .header {
  background: #fff;
  color: #3f3e3d;
}
body .header a {
  color: #4e7a3c;
}
body .header .container {
  padding: 15px 30px;
  overflow: hidden;
}
body .header .container .logo {
  background: url("/images/KBHeader.png") no-repeat left top;
  height: 78px;
  width: 320px;
  float: left;
  cursor: pointer;
}
body .header .container .navigation {
  float: right;
  overflow: hidden;
}
body .header .container .navigation li {
  float: left;
  margin: 0 0 0 15px;
}
body .header .container .navigation .users .users,
body .header .container .navigation .vendors .vendors {
  color: #333;
  text-decoration: none;
}
body .body h1 {
  font-size: 3em;
  line-height: 2em;
}
body .body h2 {
  font-size: 3em;
  line-height: 2em;
}
body .body i {
  font-style: italic;
}
body .body p {
  margin: 15px 0;
}
body .body a {
  color: #00b7ff;
}
body .body .container {
  background: rgba(190,190,190,0.1);
  -moz-box-shadow: 0px 0px 4px #aaa;
  -webkit-box-shadow: 0px 0px 4px #aaa;
  box-shadow: 0px 0px 4px #aaa;
}
body .body .user-row {
  background: #aaa;
  color: #000;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 4px #fff;
  box-shadow: 0px 0px 4px #fff;
  overflow: hidden;
  margin: 30px 0;
}
body .body .user-row a {
  color: #000;
}
body .body .user-row li {
  width: 250px;
  overflow: hidden;
  float: left;
  padding: 10px;
}
body .body .user-row:nth-child(even) {
  color: #6f6f6e;
  background: #fff;
}
body .body .user-row:nth-child(even) a {
  color: #6f6f6e;
}
body .body .add-row {
  margin: 60px 0;
  text-align: center;
}
body .body .modified,
body .body .modified:nth-child(even) {
  background: #cfc;
  -moz-box-shadow: 0px 0px 12px #cfc;
  -webkit-box-shadow: 0px 0px 12px #cfc;
  box-shadow: 0px 0px 12px #cfc;
}
body .body .deleted,
body .body .deleted:nth-child(even) {
  background: #fcc;
  -moz-box-shadow: 0px 0px 12px #fcc;
  -webkit-box-shadow: 0px 0px 12px #fcc;
  box-shadow: 0px 0px 12px #fcc;
}
body .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
body .footer {
  text-align: center;
  font-size: 0.8em;
}
body .tooltip {
  border: 1px solid #990;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  padding: 2px 8px;
  background: #ffc;
  color: #000;
  font-size: 0.7em;
  margin-top: -29px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
body .modal {
  background: #000;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
body .window {
  background: #fff;
  color: #3f3e3d;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  min-height: 235px;
  max-width: 500px;
  padding: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
body .window .error-message {
  padding: 4px 8px;
  border: 1px solid #900;
  background: #fcc;
}
body .window h2 {
  font-size: 1.2em;
}
body .window fieldset .fields {
  margin: 15px 0;
  overflow: hidden;
}
body .window fieldset .fields label {
  width: 150px;
  display: block;
  float: left;
}
body .window fieldset .fields .input {
  width: 240px;
  display: block;
  float: right;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;
}
body .window fieldset .fields .error {
  border: 1px solid #900;
  background: #fcc;
}
body .window fieldset .fields .valid {
  border: 1px solid #090;
  background: #cfc;
}
body .window fieldset .fields .loading {
  border: 1px solid #666;
  background: #fff;
}
body .window .buttons {
  overflow: hidden;
  width: 100%;
}
body .window .buttons .submit,
body .window .buttons .cancel {
  margin: 30px 0 0 0;
  font-size: 1.2em;
  border: 1px solid #6f6f6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 30px;
}
body .window .buttons .cancel {
  background: #aaa;
  color: #6f6f6e;
}
body .window .buttons .submit {
  background: #6f6f6e;
  border-color: #000;
  color: #00b7ff;
  float: right;
  font-weight: bold;
  cursor: pointer;
}
body .window .buttons .cancel {
  float: left;
}
body .container .modal {
  display: block;
}
body .container .window {
  display: block;
  position: relative;
  margin: 0 auto;
}
body .assets {
  display: none;
}
